* {
  box-sizing:border-box;
}

body{
    background:#e6e6fa;
    text-align: center;
    font-size:3vw;
} 

ul {
    margin: 50px;
    padding: 0;
    list-style-type:none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 8px;
    background: #eee;
    font-size: 2vw;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 5px;
    border-style: solid;
    border-color: #605F61;
    border-width: 1px;
    position: static;
}


input {
    margin: 0;
    border-radius: 5px;
    width: 25%;
    padding: 10px;
    float: left;
    font-size: 2vw;
}

.addBtn {
    margin: 0;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.addBtn:hover {
    background-color: #bbb;
}

button.close{
    float:right;
    margin-right:0;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.close:before {
    content: "x";

}

button.edit{
    float:right;
    margin-right:1px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.edit:before {
    content: "✏";
}

button.add{
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.add:before {
    content: "+";

}
.text{
    width: 400px;
    margin: auto;
}